<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('homepage') }}">Bonobo</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{{ (app.request.attributes.get('_route') == 'homepage') ? ' class="active"' }}">
		    <a href="{{ path('homepage') }}">Accueil <span class="glyphicon glyphicon-home"></span></a>
	    </li>
        {% if app.user %}
            <li class="{{ (app.request.attributes.get('_route') == 'my_friends') ? ' class="active"' }}">
                <a href="#">Mes Amis</a>
            </li>
            <li class="{{ (app.request.attributes.get('_route') == 'add_friend') ? ' class="active"' }}">
                <a href="#">Ajouter Ami</a>
            </li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
          {% if app.user %}
              <li class="{{ (app.request.attributes.get('_route') == 'fos_user_security_logout') ? ' class="active"' }}">
                  <a href="{{ path('bonobo_show', {'id' : app.user.bonobo.id}) }}">Mon Compte</a>
              </li>
              <li>
                  <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
              </li>

          {% else %}
              <li class="{{ (app.request.attributes.get('_route') == 'inscription') ? ' class="active"' }}">
                  <a href="{{ path('inscription') }}">Inscription <i class="fa fa-1x fa-user-plus" aria-hidden="true"></i></a>
              </li>
              <li class="{{ (app.request.attributes.get('_route') == 'fos_user_security_login') ? ' class="active"' }}">
                  <a href="{{ path('fos_user_security_login') }}">Login <span class="glyphicon glyphicon-log-in"></span></a>
              </li>

          {% endif %}
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
