{% extends 'base.html.twig' %}

{% block title %}
    Ajouter {{ adding }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">

            <h1>Ajouter un {{ adding }} à votre liste d'amis</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">
                Ajouter
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            </br></br>
            <a class="btn btn-success" href="{{ path('homepage') }}"><span class="ion-reply"></span> Revenir à la page d'accueil</a>
            {{ form_end(form) }}

            <div class="col-xs-12">
                <div class="add">
                    <h3 class="h3">Ajouter un {{ adding }} depuis les membres du site</h3>
                    {% if adding == 'membre de famille' %}
                        <h4 class="h4">Ajouter en tant que : </h4>
                        {{ form(familyForm) }}
                    {% endif %}
                </div>

                {% for bonobo in bonobos %}
                    {% if (app.user.bonobo.isNotFamilyMember(bonobo)) and (app.user.bonobo.isNotFriendWith(bonobo)) %}
                        <div class="col-sm-6 col-xs-12 adding-div">
                            {{ bonobo.name }}
                            {% if adding == 'membre de famille' %}
                                <button data-bonobo="{{bonobo.id}}" class="btn btn-primary family-btn">
                                    Ajouter au famille
                                </button>
                            {% else %}
                                <a class="btn btn-primary friend-btn" href="{{ path('add_to_friends', {'id': bonobo.id}) }}">
                                    Ajouter ami
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% else %}
                    <h3 class="h3">Aucun membre à ajouter pour le moment, vous les avez tous ajouter</h3>
                    <script>

                        alert('JI');
                        $('add').prepend("<h1>dsdf</h1>");
                    </script>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".family-btn").click(function () {
            window.open("{{ app.request.schemeAndHttpHost }}" + "/ajouterMembreFamille/"+ $(this).data("bonobo") + "/" + $('#appbundle_family_relation').val(), '_self');
        });

    </script>
{% endblock %}
