<table class="table table-striped">
    <tbody>
        {% for friend in bonobo.myFriends %}
            <tr>
                <td>
                    <a href="{{ path('bonobo_show', {'id' : friend.id}) }}">
                        {{ friend.name }}
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger" href="{{ path('remove_friend', {'id': friend.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}

        {% for friend in bonobo.friendsWithMe %}
            <tr>
                <td>
                    <a href="{{ path('bonobo_show', {'id' : friend.id}) }}">
                        {{ friend.name }}
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger" href="{{ path('remove_friend', {'id': friend.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
