<table class="table table-striped">
    <tbody>
        {% for family in app.user.bonobo.myFamily %}
            <tr>
                <td>
                    <a href="{{ path('bonobo_show', {'id' : family.familyMember.id}) }}">
                        {{ family.familyMember.name }}
                    </a>
                    ( {{ family.relation }} )
                </td>
                <td>
                    <a class="btn btn-danger" href="{{ path('remove_family_member', {'id': family.familyMember.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}

        {% for family in app.user.bonobo.familyWithMe %}
            <tr>
                <td>
                    <a href="{{ path('bonobo_show', {'id' : family.bonobo.id}) }}">
                        {{ family.bonobo.name }}
                    </a>
                    ( {{ family.relation }} )
                </td>
                <td>
                    <a class="btn btn-danger" href="{{ path('remove_family_member', {'id': family.familyMember.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
